<phpunit
    bootstrap="vendor/autoload.php"
    failOnRisky="true"
    colors="true"
>
    <testsuites>
        <testsuite name="full test">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">classes</directory>
            <directory suffix=".php">cli</directory>
            <directory suffix=".php">db</directory>
            <file>lib.php</file>
            <file>locallib.php</file>
            <file>settings.php</file>
        </whitelist>
    </filter>
</phpunit>
